In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import StandardScaler
scalar=StandardScaler()
data = pd.read_csv("data.csv")

In [6]:
# from sklearn.cluster import DBSCAN
# # cluster the data into five clusters
# dbscan = DBSCAN(eps = 8, min_samples = 4).fit(x) # fitting the model
# labels = dbscan.labels_ # getting the labels

In [7]:
import pandas as pd
import numpy as np
from sklearn.datasets import make_moons
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import DBSCAN
from sklearn.metrics import silhouette_score
from sklearn.metrics import v_measure_score

In [8]:
import pandas as pd
data = pd.read_csv('scaled_df.csv')


df = pd.DataFrame()
# df = df.join(data['PURCHASES'])
# df = df.join(data['TENURE'])
df.insert(0, 'PURCHASES_INSTALLMENTS_FREQUENCY', data['PURCHASES_INSTALLMENTS_FREQUENCY'])
# df.insert(1, 'TENURETENURE', data['TENURE'])
df.insert(1, 'CASH_ADVANCE_FREQUENCY', data['CASH_ADVANCE_FREQUENCY'])
# df.insert(3, 'CREDIT_LIMIT', data['CREDIT_LIMIT'])

df["PURCHASES_INSTALLMENTS_FREQUENCY"] = df["PURCHASES_INSTALLMENTS_FREQUENCY"].fillna(df["PURCHASES_INSTALLMENTS_FREQUENCY"].mean())
# df["TENURE"] = df["TENURE"].fillna(df["TENURE"].mean())
df["CASH_ADVANCE_FREQUENCY"] = df["CASH_ADVANCE_FREQUENCY"].fillna(df["CASH_ADVANCE_FREQUENCY"].mean())
df = scalar.fit_transform(df)
# df["CREDIT_LIMIT"] = df["CREDIT_LIMIT"].fillnaPURCHASESdf["CREDIT_LIMIT"].mean())
display(df)

array([[-0.70731317, -0.67534886],
       [-0.91699519,  0.57396272],
       [-0.91699519, -0.67534886],
       ...,
       [ 0.76046857, -0.67534886],
       [-0.91699519,  0.15752719],
       [-0.91699519,  0.99039825]])

In [9]:
data = pd.read_csv('data.csv')
data

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.40,0.00,95.40,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
1,C10002,3202.467416,0.909091,0.00,0.00,0.00,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,C10003,2495.148862,1.000000,773.17,773.17,0.00,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
3,C10004,1666.670542,0.636364,1499.00,1499.00,0.00,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
4,C10005,817.714335,1.000000,16.00,16.00,0.00,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8945,C19186,28.493517,1.000000,291.12,0.00,291.12,0.000000,1.000000,0.000000,0.833333,0.000000,0,6,1000.0,325.594462,48.886365,0.500000,6
8946,C19187,19.183215,1.000000,300.00,0.00,300.00,0.000000,1.000000,0.000000,0.833333,0.000000,0,6,1000.0,275.861322,NaN,0.000000,6
8947,C19188,23.398673,0.833333,144.40,0.00,144.40,0.000000,0.833333,0.000000,0.666667,0.000000,0,5,1000.0,81.270775,82.418369,0.250000,6
8948,C19189,13.457564,0.833333,0.00,0.00,0.00,36.558778,0.000000,0.000000,0.000000,0.166667,2,0,500.0,52.549959,55.755628,0.250000,6
8949,C19190,372.708075,0.666667,1093.25,1093.25,0.00,127.040008,0.666667,0.666667,0.000000,0.333333,2,23,1200.0,63.165404,88.288956,0.000000,6

In [ ]:
dbscan_cluster = DBSCAN(eps=0.83, min_samples=8)
dbscan_cluster.fit(df)

# Visualizing DBSCAN
plt.scatter(data['PURCHASES_INSTALLMENTS_FREQUENCY'], 
            data['CASH_ADVANCE_FREQUENCY'], 
            c=dbscan_cluster.labels_, 
            label=df)
plt.xlabel("$x_1$")
plt.ylabel("$x_2$")

# Number of Clusters
labels=dbscan_cluster.labels_
N_clus=len(set(labels))
print('Estimated no. of clusters: %d' % N_clus)
print((labels))

# Identify Noise
n_noise = list(dbscan_cluster.labels_).count(-1)
print('Estimated no. of noise points: %d' % n_noise)

# # Calculating v_measure
# print('v_measure =', v_measure_score(df, labels))

In [ ]:
from sklearn.neighbors import NearestNeighbors

nearest_neighbors = NearestNeighbors(n_neighbors=11)
neighbors = nearest_neighbors.fit(df)

distances, indices = neighbors.kneighbors(df)
distances = np.sort(distances[:,10], axis=0)

fig = plt.figure(figsize=(5, 5))
plt.plot(distances)
plt.xlabel("Points")
plt.ylabel("Distance")

In [ ]:
from kneed import KneeLocator

i = np.arange(len(distances))
knee = KneeLocator(i, distances, S=1, curve='convex', direction='increasing', interp_method='polynomial')

fig = plt.figure(figsize=(5, 5))
knee.plot_knee()
plt.xlabel("Points")
plt.ylabel("Distance")

# print(distances[knee.knee])

In [ ]:
import numpy as np
from sklearn.neighbors import NearestNeighbors
# n_neighbors = 5 as kneighbors function returns distance of point to itself (i.e. first column will be zeros) 
nbrs = NearestNeighbors(n_neighbors=5).fit(df)
# Find the k-neighbors of a point
neigh_dist, neigh_ind = nbrs.kneighbors(df)
# sort the neighbor distances (lengths to points) in ascending order
# axis = 0 represents sort along first axis i.e. sort along row
sort_neigh_dist = np.sort(neigh_dist, axis=0)

In [ ]:
import matplotlib.pyplot as plt
k_dist = sort_neigh_dist[:, 4]
plt.plot(k_dist)
plt.axhline(y=2.5, linewidth=1, linestyle='dashed', color='k')
plt.ylabel("k-NN distance")
plt.xlabel("Sorted observations (4th NN)")
plt.show()